html {
    
    overflow-y: scroll;
    height: 800%;
    
}

.navbar-brand .logo-text {
    font-size: 30px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightseagreen;

     
}

header .navbar-nav {
    
    align-items: center;
    color: lightseagreen;    
}


.main-container {
    padding-top: 20px;
    padding-bottom: 20px;
}


.lista-ingredientes {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background: rgb(150, 139, 139); 
    color: white;
    padding: 10px;

}

footer a, footer a:hover {
    color: #ffffff;
    text-decoration: none;

}

@media (max-width: 576px) { 
    .navbar-collapse{
        margin-top: 20px;
    }
    .navbar-collapse .nav-item {
        padding: 10px;
        border-top: 1px solid #cccccc;
        width: 100%;
    }
}
